/*
navy blue #18121e
gunmetal #233237
rusty red #984843
warm yellow #eac67a
*/

* {
    margin: 0;
    padding: 0;
}

body {
    background: #eac67a;
    font-family: 'Mukta Mahee', sans-serif;
}

/* Header Section */

#nav ul {
    list-style-type: none;
    /* display: none;*/
}

#nav ul li a {
    text-decoration: none;
    display: block;
    color: #eac67a;
    background: #18121e;
    padding: 10px;
    font-size: 20px;
    transition: color 1s ease, background 2s ease;
}

#nav ul li a:hover {
    color: #18121e;
    background-color: #eac67a;
}

.nav-container {
    padding: 0 20px;
    height: 50px;
    background: #18121e;
    border-bottom: 3px solid #eac67a;
    display: flex;
    justify-content: space-between;
}

.nav-container img {
    align-self: center;
}

.menu-btn {
    padding: 2px;
    display: inline-block;
    border: 2px solid #eac67a;
    border-radius: 10px;
    align-self: center;
}

.bar {
    width: 20px;
    height: 2px;
    margin: 5px;
    color: #f5f5f5;
}

header {
    min-height: 100vh;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;

}

nav {
    flex: 0 0 auto;
    position: fixed;
    width: 100%;
    z-index: 10;
}

#banner {
    background: linear-gradient(rgba(255, 255, 255, 0.21), rgba(255, 255, 255, 0.21)), url(img/banner.jpeg) center/cover no-repeat fixed;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    text-align: left;
    align-items: center;
}

.banner-text h1 {
    font-size: 50px;
    color: #18121e;
    font-style: italic;
}

.banner-text h4 {
    font-size: 20px;
    color: #18121e;
    font-style: italic;
}

.banner-text a {
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    font-size: 25px;
    margin: 10px;
    padding: 5px 12px;
    color: #18121e;
    font-style: italic;
    border: 3px solid #18121e;
    border-radius: 5px;
    background: #eac67a;
    transition: color 1s ease, background 1s ease, border 1s ease;
}

.banner-text a:hover {
    color: #eac67a;
    background: #18121e;
    border: 3px solid #eac67a;
}
/* media */
@media screen and (min-width:776px){
    #nav{
        display:flex;
        background: #18121e; 
        border-bottom: 3px solid #eac67a;
    }
    #nav ul {
        display: flex!important;
        flex: 1 0 auto;
        justify-content:flex-end;
        align-self: center;
        flex-wrap: wrap;
        padding: 0 40px;
    }
    .menu-btn {
    display: none;
    }
    .nav-container {
    border-bottom: none;
    }
    #nav ul li a:hover {
        color: #eac67a;
        background-color: #233237;
    }
    #banner{
        justify-content:flex-start;
        text-align:left;
        align-items:center;
        padding: 0 100px;
    }
}
