/*
void #0e0b16
fuschia #a239ca
jewel #4717f6
stark #e7dfdd
*/



.row.content {
    height: 100vh;
}
    
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}
        
@media screen and (max-width: 576px) {
    .row.content {
        height: auto;
    } 
}

.navbar,
.sidenav{
    background: #0e0b16;
}
.dev-panel li{
    font-size: 10px;
    padding: 0;
    margin: 0;
}