* {
    margin: 0;
    border: 0;
    padding: 0;
}
body {
    font-family: 'Mukta Mahee', sans-serif;
}
/* header */
nav ul {
    list-style-type: none;
    display: none;
}
nav ul a {
    display: block;
    background: #0d1317;
    padding: 20px;
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ad343e;
    transition: color 1s ease, background 1s ease, padding 1s ease; 
}
nav ul a:hover {
    background: #474747;
    color: #e0eece;
    padding-left: 30px;
}
.nav-container img {
    width: 100px;
    align-self: center;
}
.nav-container {
    padding: 0 20px;
    background: #474747;
    border-bottom: 3px solid #ad343e;
    display: flex;
    justify-content: space-between;
}
.bar {
    width: 30px;
    height: 3px;
    margin: 7px;
    background: #ad343e;
}
.btn {
    padding: 2px;
    display: inline-block;
    border: 2px solid #ad343e;
    align-self: center;
}
header {
    min-height: 100vh;
    background: linear-gradient(rgba(255,255,255,0.21), rgba(255,255,255,0.3)), url(img/header_bcg.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}
nav{
    flex: 0 0 auto;
}
.banner{
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner h1{
    font-size: 50px;
    text-transform: uppercase;
    color: #ad343e;
}
.banner h3{
    text-transform: capitalize;
    font-size: 30px;
}
.and{
    color: #f5f3f5;
}
.banner-icons{
    padding: 20px;
}
.banner-icons a{
    display: inline-block;
    font-size: 30px;
    background: #474747;
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 50%;
    color: #f5f5f5;
    transition: color 1s ease, transform 1s ease;
}
.banner-icons a:hover{
    color: #ad343e;
    transform: translateY(-10px);
}
nav{
    position: fixed;
    width: 100%;
    z-index: 10;
}

















